#lorem-two{
    
    font-size: 20px;
}
h2{
    background-color: purple;
}
#propiedad-color{
     /* color: #008080;  */
     color: red; 
    /* background-color: rgb(255, 0, 0); */
}

h4{
    background-color: blue;
}
