body{
    background-image: url(./ve.jpg);
    
}

h1{
    font-family: "Cormorant Unicase", serif;
    background-color: beige;
}
   
h2{
    text-align: center; color: black;
}
   
h3{
    text-align: center; color: black;
}

p{
    font-style: italic; color: black;
}

.alinear-flex{
    display: flex;
    justify-content: center;
}
li{
    color: black;
}

#enla{
    border: 1px solid white;
    padding: 16px 0px 16px 0px;
}